<h1>
    Basic Form Validation
</h1>

<form (ngSubmit)="onSubmit()" [formGroup]="bookingForm">
    <p>
        <input  formControlName="navn" type="text" placeholder="angiv dit navn ..."    required>
    </p>
    <p>
        <input type="email" formControlName="email" placeholder="angiv email" required>
    </p>
    <p>
        <input type="alder" formControlName="age" placeholder="angiv alder" required>
    </p>
    <p>
        <button type="submit" [disabled]="!bookingForm.valid">Submit</button>
    </p>
    
</form>

<p>
    Form Value: {{ bookingForm.value | json }}
</p>
  
  
<p>
    Form Status: {{ bookingForm.status }}
</p>

